.jumbotron img {
  width: 200px;
  border: 3px solid #ff3ea5;
}

hr {
  width: 250px;
  border-top: 3px solid #999;
}

.section {
  min-height: 600px;
}

.portfolio {
  margin-top: 80px;
  margin-bottom: 40px;
  background-color: #eee;
}
