@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

html {
  position: relative;
}

body {
  margin-top: 30px;
  margin-bottom: 100px;
  font-family: "Poppins", sans-serif;
}

.navbar .container-fluid li a {
  color: white;
}

.navbar .container-fluid li a:hover {
  background-color: lightskyblue;
}

.jumbotron img {
  width: 200px;
  border: 3px solid #ff3ea5;
}

hr {
  width: 250px;
  border-top: 3px solid #999;
}

.section {
  min-height: 600px;
}

.portfolio {
  margin-top: 80px;
  margin-bottom: 40px;
  background-color: #eee;
}

.contact {
  min-height: 750px;
}

footer {
  background-color: #333;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding-top: 20px;
}

footer p {
  color: #ddd;
  font-size: 1em;
}

footer p a {
  color: #ff3ea5;
}
